@media screen and (max-width: 1365px) {
    html body {
        font-size: 16px;
    }
    .container {
        width: auto;
        margin: 0 30px;
    }

    .only-desktop {
        display: none;
    }
    .only-table {
        display: block;
    }
    .only-mobile {
        display: none;
    }

    .only-tablet-or-mobile {
        display: block;
    }
    .only-desktop-or-tablet {
        display: block;
    }

    #wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    #left {
        margin: 0;
        width: 100%;
        min-width: 0;
        box-sizing: border-box;
    }
    #right {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        order: -1;
        border: none;
    }

    body.is-home-page .header-block {
        padding: 25px 0;
    }

    .page {
        margin: 30px 0;
    }

    .block {
        margin: 30px 0;
    }
    .block.grey {
        padding: 30px 0;
    }
    .block-title {
        font-size: 40px;
    }
    .block-header,
    .block-title {
        margin-bottom: 30px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        font-size: 40px;
        margin: 30px 0;
    }

    .html-text .image-right.mobile-max-40-percent {
        max-width: 40%;
    }

    .header-block {
        padding-bottom: 45px;
        margin-bottom: 20px;
    }
    .header-block .menu {
        display: none;
    }
    .header-block .logo img {
        height: 30px;
        width: auto;
    }
    .header-block .logo .partner {
        left: 15px;
    }
    .header-block .logo .partner img {
        width: 135px;
        height: auto;
    }
    .header-block .consult .button {
        line-height: 38px;
        height: 38px;
        font-size: 14px;
        font-weight: 500;
        padding: 0 16px;
    }
    .header-block .phone {
        margin-right: 25px;
        font-size: 18px;
    }

    .promo-block .title {
        font-size: 40px;
        padding-top: 0;
    }
    .promo-block .text {
        font-size: 18px;
        line-height: 1.4;
        margin: 20px 0;
    }
    .promo-block .inner {
        max-width: 380px;
        height: 400px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .promo-block .discount {
        margin: 30px 0;
    }
    .promo-block .discount .percent-and-info {
        display: none;
    }

    body.is-home-page #header {
        background-size: auto 100%;
    }

    button, .button {
        line-height: 50px;
        height: 50px;
        font-size: 16px;
        padding: 0 30px;
    }

    .experience-block .year {
        width: 147px;
        height: 147px;
        min-width: 147px;
        background-size: 100% 100%;
        padding-right: 5px;
        padding-bottom: 5px;
        margin: 0 30px;
    }
    .experience-block .year .value {
        font-size: 40px;
        margin-bottom: 2px;
    }
    .experience-block .year .text {
        font-size: 13px;
        font-weight: 500;
    }
    .experience-block .text-left,
    .experience-block .text-right {
        font-size: 16px;
    }
    .experience-block .footer-text {
        font-size: 20px;
    }

    .products-list {
        justify-content: flex-start;
    }
    .products-list .products-list-item {
        width: 260px;
        margin: 0 30px 30px 0;
    }
    .products-list.owl-carousel .products-list-item {
        box-shadow: none;
    }
    .products-list-item .info {
        padding: 20px;
    }
    .products-list-item .name {
        margin-bottom: 5px;
    }
    .products-list-item .name a {
        font-size: 20px;
    }
    .products-list-item .text {
        font-size: 14px;
    }

    .products-list-item .discount .value {
        font-size: 19px;
        min-width: 70px;
        line-height: 70px;
    }
    .products-list-item .discount .discount-text {
        font-size: 15px;
    }

    .owl-carousel .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
    .owl-carousel .owl-dots button {
        border-radius: 100px;
        margin-right: 12px;
        display: block;
        text-indent: -9999px;
        padding: 3px !important;
        background: transparent;
        cursor: pointer;
        height: auto;
        width: auto;
    }
    .owl-carousel .owl-dots button span {
        display: block;
        width: 9px;
        height: 9px;
        background: #eee;
        border-radius: 100px;
    }
    .owl-carousel .owl-dots button:last-child {
        margin-right: 0;
    }
    .owl-carousel .owl-dots button.active {
        background: #7bc873;
    }

    .great-offers-block .products-list {
        margin: 0;
    }
    .products-list.owl-carousel .owl-stage-outer {
        padding: 0;
    }
    .our-services-block {
        padding-top: 0;
    }
    .our-services-block .block-title {
        padding-top: 12px;
    }
    .our-services-block .block-title:after {
        font-size: 124px;
        letter-spacing: 45px;
        top: -50px;
    }
    .our-services-block .menu a {
        font-size: 16px;
    }

    .our-services-block .inner {
        display: block;
    }
    .our-services-block .menu {
        margin: 0 0 25px;
        width: auto;
        min-width: 0;
    }
    .our-services-block .menu li {
        margin: 0 15px 0 0;
    }
    .our-services-block .menu ul {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 8px;
        overflow: auto;
    }
    .our-services-block .menu a {
        white-space: nowrap;
        padding: 0;
    }
    .our-services-block .menu a.active:after {
        display: none;
    }
    .our-services-block .img {
        width: 224px;
        min-width: 224px;
        margin: 0;
        display: flex;
        overflow: hidden;
    }
    .our-services-block .img-inner.active {
        display: flex;
        position: relative;
        width: 100%;
    }
    .our-services-block .img img {
        position: absolute;
        height: 100%;
        width: auto;
        left: 0;
        top: 0;
    }
    .our-services-block .green {
        padding: 30px;
        margin: 0;
        box-sizing: border-box;
    }
    .our-services-block .info .consult {
        display: none;
    }
    .our-services-block .info .name {
        font-size: 30px;
    }
    .our-services-block .info .more {
        margin-top: 30px;
    }
    .our-services-block .info .text {
        margin-bottom: 30px;
    }
    .out-doctors-block .block-title {
        padding: 25px 30px 25px 0;
    }
    .out-doctors-block .block-info {
        padding: 25px 30px;
        font-size: 20px;
    }
    .out-doctors-block .block-info br {
        display: none;
    }

    .out-doctors-block .owl-nav {
        position: static;
        display: flex;
        justify-content: center;
        margin: 25px 30px 0 0;
    }

    .owl-nav button {
        margin-right: 20px;
    }

    .out-doctors-block .items {
        margin-left: 30px;
    }
    .out-doctors-block .block-header {
        margin-bottom: 30px;
    }


    .doctors-list-item,
    .doctors-list-item:nth-child(3n) {
        width: 300px;
        margin: 0 35px 35px 0;
    }
    .doctors-list-item .name a {
        font-size: 20px;
        line-height: 1.4;
    }
    .doctors-list-item .info {
        margin-top: 12px;
    }
    .doctors-list-item .name {
        margin-bottom: 10px;
    }
    .owl-carousel .doctors-list-item {
        width: 300px;
    }

    .slider-block .inner {
        display: block;
    }
    .slider-block .slider {
        width: 100%;
        min-width: 0;
    }

    .slider-block .slider .counter {
        font-size: 36px;
        padding: 5px 15px 5px 40px;
    }
    .slider-block .slider .counter .current {
        font-size: 50px;
        color: #111111;
    }
    .slider-block .slider .counter .sep {
        width: 20px;
        height: 34px;
        background-position: -30px -120px;
    }

    .slider-block .slider .owl-nav {
        margin: 25px 0 0;
        justify-content: center;
    }

    .slider-block .info {
        max-width: none;
        padding: 0;
        margin: 30px 30px 0;
    }
    .slider-block .info .name {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .slider-block .thumbs {
        display: none;
    }

    body.is-home-page .footer-block {
        margin-top: 30px;
    }

    .footer-block {
        padding: 0 0 30px;
        margin-top: 30px;
    }
    .footer-block .inner {
        flex-wrap: wrap;
    }
    .footer-block .subscribe {
        order: -1;
        box-sizing: border-box;
        padding: 15px 0;
        margin: 0 0 30px;
        background-position: left -50px;
        position: relative;
        width: 100%;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .footer-block .subscribe:before {
        content: '';
        position: absolute;
        left: -30px;
        right: 100%;
        top: 0;
        bottom: 0;
        background: #000;
    }
    .footer-block .subscribe:after {
        content: '';
        position: absolute;
        left: 100%;
        right: -30px;
        top: 0;
        bottom: 0;
        background: #000;
    }
    .footer-block .subscribe .name-and-text {
        width: 100%;
        min-width: 0;
    }
    .footer-block .subscribe input[type="text"] {
        width: 225px;
        height: 38px;
        font-size: 14px;
        padding: 0 10px;
        border-right: 0;
    }
    .footer-block .subscribe button {
        height: 38px;
        line-height: 38px;
        font-size: 13px;
    }
    .footer-block .subscribe .form-inner {
        display: flex;
        align-items: center;
    }
    .footer-block .subscribe .form-group {
        margin: 0;
    }
    .footer-block .subscribe .text {
        margin: 0;
        line-height: 1.4;
        font-size: 14px;
    }
    .footer-block .subscribe .text br {
        display: none;
    }
    .footer-block .name {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .footer-block .menu {
        padding-right: 30px;
    }
    .footer-block .menu,
    .footer-block .contacts {
        width: 33.33%;
        box-sizing: border-box;
    }
    .footer-block .menu a {
        font-size: 15px;
    }
    .footer-block .contacts .items {
        font-size: 15px;
        font-weight: 300;
    }
    .footer-block .contacts .address {
        margin-bottom: 20px;
    }

    .mobile-menu .inner {
        width: 350px;
        max-width: 100%;
        background: #eaede7;
        overflow: auto;
        box-sizing: border-box;
        padding: 17px 0;

        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 10;

        box-shadow: 0 0 18px 0 rgba(62, 64, 83, 0.19);
    }
    body.is-home-page .mobile-menu .inner {
        padding: 25px 0;
    }

    .mobile-menu .overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        background: rgba(255, 255, 255, 0.8);
    }
    .mobile-menu .header {
        margin-bottom: 30px;
        height: 38px;
    }
    .mobile-menu .menu li {
        margin-bottom: 25px;
    }
    .mobile-menu .menu li:last-child {
        margin-bottom: 0;
    }
    .mobile-menu .menu li ul {
        margin: 25px 0 25px 25px;
    }
    .mobile-menu .menu a {
        font-size: 19px;
        text-decoration: none;
        font-weight: 700;
        display: block;
        line-height: 1.35;
    }
    .mobile-menu .menu a:hover {
        text-decoration: underline;
    }
    .mobile-menu .logo img {
        display: block;
        height: 30px;
        width: auto;
    }
    .mobile-menu .close {
        display: block;
        width: 32px;
        height: 32px;
        position: relative;
        margin-right: 25px;
    }
    .mobile-menu .close:after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
        background: url(../img/img.png) -60px -120px;
    }

    .mobile-menu .menu li li ul {
        display: none;
    }

    .mobile-menu .consult {
        margin-top: 35px;
    }
    .mobile-menu .consult a {
        display: block;
        text-align: center;
        padding: 0 10px;
        font-size: 15px;
    }

    .ui-dialog {
        max-width: 100%;
        box-sizing: border-box;
    }

    .faq-header-block {
        height: 320px;
        margin-bottom: 30px;
    }
    .faq-header-block h1 {
        padding: 30px 0;
    }
    .faq-header-block .button {
        padding: 0 30px;
    }
    .faq-header-block .ask {
        margin-top: 50px;
    }

    .faq-menu-block {
        margin-bottom: 30px;
    }
    .faq-menu-block li:last-child {
        border-bottom: 1px solid #e4e3e3;
    }
    .faq-menu-block a .name {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .faq-menu-block a .text {
        font-size: 16px;
    }
    .faq-menu-block a {
        padding: 20px 20px 20px 0;
    }

    .faq-menu-block a.active:after {

    }

    .faq-list .item:first-child {
        border-top: none;
    }
    .faq-list .item:last-child {
        border-bottom: none;
    }

    .gallery-header-block {
        margin-bottom: 30px;
    }
    .gallery-header-block .img {
        width: 50%;
        background-position: center;
    }
    .gallery-header-block .info {
        width: 50%;
        padding: 30px;
        align-items: center;
        display: flex;
    }
    .gallery-header-block .info h1 {
        font-size: 40px;
    }
    .gallery-header-block .inner {
        height: 300px;
    }

    .gallery-list {
        justify-content: space-between;
    }
    .gallery-list .item {
        width: 31%;
        margin: 0 0 2%;
    }
    .gallery-list:after {
        content: '';
        width: 31%;
        height: 1px;
    }
    .gallery-list .item img {
        width: 100%;
        height: auto;
    }

    .licenses-page .inner {
        display: block;
    }
    .licenses-page .left {
        width: auto;
        min-width: 0;
        padding: 30px;
        background-size: 100% auto;
        justify-content: flex-start;
        height: 180px;
        background-position: left top;
        box-sizing: border-box;
    }
    .licenses-page h1 {
        max-width: unset;
        font-size: 40px;
    }
    .licenses-list .item {
        width: 270px;
    }
    .licenses-page .right-inner {
        padding: 30px;
    }
    .licenses-list .owl-nav {
        padding: 0;
        margin: 25px 30px 0 0;

        display: flex;
        justify-content: center;
    }

    h2, .h2 {
        font-size: 30px;
        margin: 25px 0;
    }
    h3, .h3 {
        font-size: 25px;
        margin: 20px 0;
    }

    .prices-menu-block {
        display: none;
    }

    .prices-box .name {
        padding: 10px;
    }

    .prices-box .action a {
        background: none;
        color: #8c9c7a;
        opacity: 1;
    }

    .tabs {
        overflow: auto;
        box-sizing: border-box;
    }
    .tabs a {
        font-size: 18px;
        line-height: 1.3;
        padding: 11px 0;
        display: block;
        margin: 0 20px 0 0;
        letter-spacing: 0;
    }
    .tabs.uppercase a {
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .tabs.uppercase a.active:after {
        bottom: 0;
    }
    .tabs.uppercase a:last-child {
        margin-right: 0;
    }

    body.is-prices-page #content .order-block {
        display: none;
    }

    #content .order-block {
        margin: 0 -30px;
    }
    #content .order-block .right {
        padding: 50px;
    }

    .service-info-block {
        padding: 0 0 50px;
        background-position: center;
    }
    .service-info-block .info {
        padding: 0 0 50px 50px;
    }
    .service-info-block .text {
        margin-bottom: 30px;
    }

    .service-doctors-block .doctors-list-item {
        width: 300px;
    }

    .header-box .img {
        margin: 0 -30px;
    }
    .header-box .img img {
        height: 320px;
        width: auto;
    }
    .header-box .info {
        padding: 30px;
        margin-left: 0;
        margin-bottom: 30px;
        max-width: 420px;
    }
    .header-box .info .h2 {
        margin-bottom: 15px;
    }
    .service-detail-block .item {
        margin-bottom: 30px;
        margin-left: 30px;
    }
    .service-detail-block .item:last-child {
        margin-bottom: 0;
    }

    .order-block .form-title {
        font-size: 30px;
    }

    .before-after .name {
        font-size: 20px;
    }

    .order-block-2 {
        padding: 30px 0;
        margin-bottom: 0;
    }
    .order-block-2 .form {
        padding: 30px;
        max-width: 100%;
        width: 500px;
    }
    .order-block-2 .form-title {
        margin-bottom: 20px;
    }
    .order-block-2 .form-actions {
        margin-top: 30px;
    }

    .contacts-page .header-inner {
        display: block;
    }
    .contacts-page .info {
        width: auto;
        min-width: 0;
        padding: 30px 0;
    }
    .contacts-page .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contacts-page .items {
        display: flex;
        flex-wrap: wrap;
    }
    .contacts-page .item:first-child {
        width: 100%;
        margin-right: 0;
    }
    .contacts-page .item {
        margin-bottom: 20px;
        margin-right: 40px;
    }
    .contacts-page .item:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
    .contacts-page .social-networks {
        margin: 28px 0 0 30px;
    }
    .contacts-page .social-networks a {
        transform: scale(0.8);
        margin-right: 20px;
    }
    .contacts-page .social-networks a:last-child {
        margin: 0;
    }

    .contacts-page .map,
    .contacts-page .map > ymaps {
        height: 390px !important;
        width: 100% !important;
    }
    .contacts-page .map {
        width: auto !important;
        margin: 0 -30px;
    }

    .contacts-page .footer {
        display: none;
    }

    .faq-item-page .box {
        margin-bottom: 30px;
    }
    .faq-item-page .box:last-child {
        margin-bottom: 0;
    }

    .doctor-detail .work-time-and-consult {
        padding: 30px;
    }
    .doctor-detail .work-time {
        margin-bottom: 30px;
    }
    .doctor-detail .right {
        padding: 30px;
    }
    .doctor-detail .title {
        font-size: 40px;
    }
    .doctor-detail .work {
        font-size: 22px;
    }
    .doctor-detail .info {
        margin: 25px 0;
    }

    .doctor-detail .title {
        font-size: 30px;
    }
    .doctor-detail .work {
        font-size: 22px;
    }

    .doctor-page .doctor-detail .work-time-and-consult {
        padding: 30px;
    }
    .doctor-page .doctor-detail .right {
        padding: 0 30px 30px;
    }
    .doctor-detail .consult a {
        padding: 0 10px;
        font-size: 16px;
    }

}